@import "../../styles/variables.scss";

.sidebar {
    width: 350px;
    height: 100vh;
    background: $app_blue;

    .logo {
        height: 200px;
        background: url(../../assets/images/green-tea-logo.jpg) 50% 0 no-repeat;
        background-size: cover;
    }

    .sideNav {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                display: block;
                padding: .5rem 0;
                border-bottom: 1px solid $app_white;

                a {
                    display: block;
                    text-decoration: none;
                    color: $app_white;
                    padding: .5rem 2rem;

                    &.active {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}