@import "../../styles/variables.scss";

.wrapper {
    height: 100%;
    display: flex;
}

.mainWrapper {
    height: 100%;
}

.contentWrapper {
    width: calc(100vw - 350px);
    padding: 1rem 1.5rem;
}